.hero__image-overlay{
    position: absolute;
    top: -62%; 
    right: -65%; 
    background-image: url('/hero-bg.png');
    background-repeat: round;
    transform: rotate(-5deg);
    z-index: -10; 
    width: 150%; 
    height: 800px;
    overflow: hidden;
}
@media (max-width:500px)  { 
    .hero__image-overlay{
        /* border: 2px solid red; */
        top: -90%;
        width: 80%;
        right: -10%;
        height: 550px;
        overflow: hidden;
    }
}